/*blueCircle Download by http://www.jb51.net*/
span.blueCircle_mSel_main {
	overflow: hidden;
	margin: 0;
	padding: 0 20px 0 10px;
	background: url(../images/blueCircle.png) no-repeat;
	vertical-align: middle;
	line-height: 40px;
	text-align: left;
	cursor: pointer;
	font-size: 13px;
	color: #000;
	width: 180px;
	height: 40px;
	zoom: 1;
	display: inline-block;
}
.blueCircle_mSel_list {
	display: none;
	position: absolute;
	margin: -8px 0 0;
	padding: 0;
	list-style: none;
	text-align: left;
	font-size: 16px;
	width: 210px;
	z-index: 10008;
	line-height: 40px;
}
.blueCircle_mSel_list li {
	background-color: #FFFFFF;
	border: #167ac5 solid;
	border-width: 0 1px;
	height: 40px;
}
.blueCircle_mSel_list li.mSel_start {
	line-height: 0;
	font-size: 0;
	height: 5px;
}
.blueCircle_mSel_list li.mSel_end {
	background: url(../images/blueCircle.png) no-repeat left bottom;
	border: none;
	font-size: 0;
	line-height: 0;
	height: 6px;
}
.blueCircle_mSel_list li a {
	display: block;
	overflow: hidden;
	padding: 0 10px;
	line-height: 40px;
	text-decoration: none;
	color: #167ac5;
	height: 40px;
}
.blueCircle_mSel_list li a:hover {
	background-color: #ABDCDE;
	color: #fff;
}
.blueCircle_mSel_list li.mSel_on a {
	background-color: #167ac5;
	color: #fff;
}
.blueCircle_mSel_list li a.mSel_disable {
	font-style: italic;
}
.blueCircle_mSel_list li a.mSel_disable:hover {
	background: none;
	color: #79A2BD;
}
