@charset "utf-8";
/* CSS Document */

ul {
	list-style:none;
}

#webmenu {
	font-size:1.3em;
	text-align:center;
}
#webmenu a {
	color:#fff;
	text-decoration:none;
	font-size:0.65em;
}
#webmenu li ul {
	display:none;
}

#webmenu li ul li {
	float:none;
}
*html #webmenu li ul li {
	display:inline;
}

#webmenu li ul a {
	float:none;
	height:32px;
	line-height:32px;
	padding:0 10px;
	text-transform:capitalize;
}
#webmenu .height-auto {
	line-height:15px;
	padding:5px 10px;
}
.second-menu, .third-menu, .fourth-menu {
	position:absolute;
}
.first-menu li {
	float:left;
	position:relative;
}
.first-menu a {
	float:left;
	display:block;
	padding:0 20px;
	height:33px;
	line-height:33px;
	background:#C01414;
	border-top:1px solid #F55B5B;
	border-left:1px solid #F55B5B;
	border-bottom:1px solid #C01414;
	border-right:1px solid #C01414;
	font-size:.7em;
}
.first-menu a:hover {
	background:#4698ca;
	border-top:1px solid #C01414;
	border-left:1px solid #C01414;
}
.second-menu {
	width:150px;
	top:35px;
	right:0;
}

*html .second-menu {
	right:-1px;
}
.second-menu a {
	font-size:11px;
}
.second-menu a.arrow {
	background:#C01414 url(image/arrow.gif) no-repeat right top;
}
.second-menu a.arrow:hover {
	background:#4698ca url(image/arrow.gif) no-repeat right -32px;
}
.second-menu a.arrow-02 {
	background:#C01414 url(image/arrow.gif) no-repeat right -64px;
}
.second-menu a.arrow-02:hover {
	background:#4698ca url(image/arrow.gif) no-repeat right -110px;
}
.third-menu, .fourth-menu {
	width:150px;
	top:0px;
	left:150px;
}
.third-menu a {
	background:#C01414;
	font-weight:normal;
	border-top:1px solid #F55B5B;
	border-left:1px solid #F55B5B;
	border-bottom:1px solid #C01414;
	border-right:1px solid #C01414;
}

