.nav-pills > li.active > a, .nav-pills > li.active > a:hover{
color: white;
background-color: rgba(90, 155, 10, 0.88);
}
.nav-pills a{color:#339933;}
.rightleg{padding:0;height:30px;;}/*去除边框padding距离，使下拉按钮靠右*/